@font-face {
  font-family: "iconfont"; /* Project id 4163521 */
  src: url('iconfont.woff2?t=1689592844626') format('woff2'),
       url('iconfont.woff?t=1689592844626') format('woff'),
       url('iconfont.ttf?t=1689592844626') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kong:before {
  content: "\e708";
}

.icon-zanwuneirong:before {
  content: "\e621";
}

.icon-settings-fill:before {
  content: "\e848";
}

.icon-settings:before {
  content: "\e84a";
}

.icon-upload:before {
  content: "\e847";
}

.icon-favorites-fill:before {
  content: "\e844";
}

.icon-favorites:before {
  content: "\e846";
}

.icon-error-fill:before {
  content: "\e83c";
}

.icon-success-fill:before {
  content: "\e843";
}

.icon-copy:before {
  content: "\e83b";
}

.icon-lock:before {
  content: "\e842";
}

.icon-warning:before {
  content: "\e849";
}

.icon-help:before {
  content: "\e83f";
}

.icon-folder:before {
  content: "\e856";
}

.icon-save:before {
  content: "\e866";
}

.icon-change:before {
  content: "\e88a";
}

.icon-info:before {
  content: "\e83e";
}

.icon-edit:before {
  content: "\e83a";
}

.icon-more:before {
  content: "\e83d";
}

.icon-selected:before {
  content: "\e841";
}

.icon-add:before {
  content: "\e835";
}

.icon-down:before {
  content: "\e839";
}

.icon-reduce:before {
  content: "\e840";
}

.icon-up:before {
  content: "\e845";
}

